<ion-view title="Messages">
  <ion-header-bar align-title="left" class="bar-positive bar-subheader">
    <button class="button icon-left ion-plus" ui-sref="tab.messages.compose">New</button>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-show="!messages.length" class="item-icon-right" type="item-text-wrap" ui-sref="tab.messages.compose">
        No messages
      </ion-item>
      
      <ion-item class="item-icon-right" ng-repeat="message in messages" type="item-text-wrap" href="#/tab/message/{{message.id}}">
        {{message.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
